@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    body{
        width: 100vw;
        overflow-x: hidden;
    }
    #landing-div1{
        z-index: 10;
        display: inline-block;
        width: 100vw;
    }
    #landing-div1>div>div>img{
        padding: 5px 0px;
        width: 1.5rem;
    }
    #landing-div1>div>div>img:hover{
        border-bottom: 2px solid black;
        border-radius: 5px;
    }
    #home-icon{
        border-bottom: 2px solid black;
        border-radius: 5px;
    }
    
    @media screen and (min-width:0px) and (max-width:767px) {
        #landing-down-div{
            margin-top: 15vh;
        }
        #landing-div2{
            width: 50%;
        }
        #alert-text{
            font-size: 0.8rem;
        }
    }
   
    @media screen and (min-width:768px) {
        #landing-down-div{
            width: 60vw;
        }
        #landing-down-div{
            margin-top: 10vh;
        }
        #landing-div2{
            width: 40%;
        }
    }

    





    /* ABOUT SECTION START */
    @media screen and (min-width:768px) {
        #about-main>div{
            width: 35vw;
        }
    }
    @media screen and (max-width:767px) {
        #about-main{
            margin: 2rem;
        }
    }
    
    #about-btn-div>div{
        width: 100%;
        text-align: center;
        border-radius: 5px;
    }
    #cv-icon, #send-icon{
        filter: invert(100%);
    }





    /* SKILLS SECTION */
    #skills-btn-div>div{
        border-radius: 20px;
    }

    #coding-skills-div{
        width: 60vw;
    }
    #coding-inner-div1>div, #coding-inner-div2>div{
        color: black;
        background-color: white;
        transition: all;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 1px rgb(85, 85, 85);
    }

    #coding-inner-div1>div:hover,#coding-inner-div2>div:hover{
        transition: 0.7s all;
        filter: invert(100%)
    }



    /* Soft skill */
    #soft-skill-div>div{
        width: 100vw
    }
    #soft-skill1, #soft-skill2, #soft-skill3, #soft-skill4{
        width: 30vw;
        color: black;
        background-color: white;
        transition: all;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 1px rgb(85, 85, 85);
    }
    #soft-skill1:hover, #soft-skill2:hover, #soft-skill3:hover, #soft-skill4:hover{
        transition: 0.7s all;
        filter: invert(100%)
    }
    @media screen and (max-width:768px) {
        #soft-skill-div>div>div{
            width: 80vw;
            margin: 0px 10vw;
        }
    }


    /* skills icon animation */
    #scroll-skill-div>div>div{
        background-color: rgb(190, 190, 190);
        border-radius: 20px;
        padding: 0.1rem 1rem;
    }
    @media screen and (min-width : 768px) {
        #icon-img{
            width: 3rem;
        }
    }
    @media screen and (min-width : 0px) and (max-width : 767px) {
        #scroll-skill-div{
            width: 90vw;
            overflow-x: hidden;
        }
        #icon-img{
            display: none;
        }
    }
    










    /* Data section */
    @media screen and (min-width:0px) and (max-width:767px) {
        #data-flex2{
            margin: 0px 10%;
            transition: all;
            padding: 1rem 2rem;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0px 0px 5px 1px rgb(85, 85, 85);
            width: 100%;
        }
    }
    @media screen and (min-width:768px) {
        #data-main-div>div{
            width: 35vw;
        }
        #data-flex2{
            margin: 0px 10%;
            transition: all;
            padding: 1rem 2rem;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0px 0px 5px 1px rgb(85, 85, 85);
            width: 60%;
        }
    }
    #data-main-div>div{
        width: 80vw;
    }
    
    #data-flex1>div{
        border-radius: 10px;
        padding: 1rem 2rem;
        box-shadow: 0px 0px 5px 1px rgb(85, 85, 85);
    }
    #data-div1{
        background-color: white;
        color: black;
        filter: invert(100%);
    }
   

    #certificate-div:hover, #data-flex2:hover{
        filter: invert(100%);
        transition: all 0.5s;
    }
    





    /* PROJECT SECTION */
    #project-main-div{
        justify-content: center;
        display: flex;
        justify-content: center;
    }
    @media screen and (min-width:768px) {
        #project-main-div>div{
            width: 27vw;
        }
    }
    @media screen and (min-width:0px)and (max-width:767px) {
        #project-main-div>div{
            width: 80vw;
        }
    }
    
    #project1-image-div>img{
        border-radius: 20px;
    }
    #project-used-div>div{
        border-radius: 20px;
        border: 1px solid black;
        padding: 0.1rem 1rem;
        font-size: 0.9rem;
    }










    /* ARTICLE SECTION */
    @media screen and (min-width:768px) {
        #article-main-div>div{
            width: 24vw;
        }
    }
    #article-main-div>div{
        margin: 0px 2rem;
        padding: 1rem;
        box-shadow: 0px 0px 5px 1px rgb(85, 85, 85);
        border: 1px solid black;
        border-radius: 15px;
        background-color: white;
        color: black;
        transition:  all 0.5s;
    }
    #article-main-div>div:hover{
        filter: invert(100%);
        transition:  all 0.5s;
    }
    #article-btn{
        margin-top: 1rem;
        border: 1px solid black;
        border-radius: 20px;
        font-weight: 700;
        padding: 0.5rem 2rem;
    }








    /* CONTACT SECTION */
    @media screen and (min-width : 0px) and (max-width:767px){
        #contact-div2{
            width: 70vw;
        }
    }
    @media screen and (min-width:768px) {
        #contact-div1{
            width: 30vw;
        }
        #contact-div2{
            width: 20vw;
        }
    }
    

    #user-name, #user-mail, textarea, #submit-div{
        border: 1px solid black;
        border-radius: 15px;
        padding: 0.2rem 1rem;
        width: 100%;
        margin-bottom: 0.5rem;
    }
    #user-text{
        height: 4rem;
    }




    /* FOOTER SECION */

    #footer-main-div>div{
        border: 1px solid rgb(255, 255, 255);
        padding: 0.5rem 2rem;
        border-radius: 20px;
        margin: 0.5rem 0px;
        color : white;
        background-color: black;
        transition:  all  0.5s;
    }
    #footer-main-div>div:hover{
        filter: invert(100%);
        transition:  all  0.5s;
    }
    #github-icon-div{
        filter: invert(100%);
    }





    


}






/* Resume Component  */
#resume-main-div{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: url("./images/cv_bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;

}
#download_resume{
    border: 1px solid rgb(255, 255, 255);
    padding: 0.5rem 2rem;
    border-radius: 20px;
    color : white;
    background-color: black;
}
#resume-image{
    width: 35vw;
}
@media screen and (max-width:768px) {
    #resume-image{
        width: 90vw;
    }
}








/* Article Route Components  */

@media screen and (min-width:768px) {
    #html-article-image{
        width: 40vw;
    }
    #html-right-div{
        width: 40vw;
    }
}

